    h1 {
        text-align: center;
    }
    
    h2 {
        margin-top: 30px;
    }
    
    .pokemon-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    .pokemon-card {
        width: calc(25% - 20px);
        background-color: #f2f2f2;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-right: 20px;
    }
    
    .pokemon-card h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .pokemon-card p {
        margin: 5px 0;
    }
    
    .grass-type {
        background-color: #78c850;
    }
    
    .poison-type {
        background-color: #a040a0;
    }
    
    .fire-type {
        background-color: #f08030;
    }
    
    .flying-type {
        background-color: #a890f0;
    }
    
    .water-type {
        background-color: #6890f0;
    }
    
    .bug-type {
        background-color: #a8b820;
    }
    
    .normal-type {
        background-color: #a8a878;
    }
    
    .electric-type {
        background-color: #f8d030;
    }
    
    .ground-type {
        background-color: #e0c068;
    }
    
    .fairy-type {
        background-color: #ee99ac;
    }
    
    .fighting-type {
        background-color: #c03028;
    }
    
    .psychic-type {
        background-color: #f85888;
    }
    
    .rock-type {
        background-color: #b8a038;
    }
    
    .steel-type {
        background-color: #b8b8d0;
    }
    
    .ice-type {
        background-color: #98d8d8;
    }
    
    .ghost-type {
        background-color: #705898;
    }
    
    .dragon-type {
        background-color: #7038f8;
    }
    
    .dark-type {
        background-color: #705848;
    }
    .top{
        margin-top:80px ;
    }
    .pokeball-image {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
      }
      .search-bar {
        position: relative;
        margin: 20px auto;
        max-width: 400px;
      }
      
      .search-bar input[type="text"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      .search-bar input[type="text"]:focus {
        outline: none;
        border-color: #0066cc;
        box-shadow: 0 0 5px #0066cc;
      }
      
      .search-bar input[type="text"]::placeholder {
        color: #999;
      }
      .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
      }
      
      .button-container button {
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
      }
      
      .button-container button:first-child {
        background-color: #ff6347;
        color: white;
        border: none;
      }
      
      .button-container button:last-child {
        background-color: #6495ed;
        color: white;
        border: none;
      }
      .popup {
        position: fixed;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
      
      .popup-content {
        max-width: 400px;
        margin: 0 auto;
      }
      
      .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }
      
      .form-group label {
        display: block;
        margin-bottom: 5px;
      }
      
  